# Practice your variables!
Course: BBA 108-Essentials of Computing & Coding

Submission date: Sunday (19/09/21), 11:59 p.m.

Hey everyone! This is a practice bonus assignment worth 10 points. I **highly** encourage all of you to do this.

Please contact the following **on Slack** if there are any questions or issues:

- @Shourya Watwani 
- @Vanshika Raj 
- @Aryan Gupta 

Thank you! Happy coding :)

In [1]:
# Create and print a variable to tell us your name.
name = "Abhishek Kapadia"
name

'Abhishek Kapadia'

In [3]:
# Create and print a variable to tell us your age.
age = 18
age

'18'

In [26]:
# Create and print a variable to tell us how many times you've taken a trip within India.
trips_taken_in_india = 5
trips_taken_in_india

5

In [15]:
# Create and print a variable to tell us how many times you've taken a trip outside India.
trips_taken_outside_India = 4
trips_taken_outside_India

4

In [20]:
# Create and print a variable to calculate the total number of trips you've taken.
total_number_of_trips = str(trips_taken_in_india + trips_taken_outside_India)
total_number_of_trips

'9'

In [25]:
# Create and print a variable to tell us total number of trips you've taken, using the numeric value in a sentence.
total_number_of_trips = ("Total number of trips I took" + total_number_of_trips )
total_number_of_trips

'Total number of trips I tookTotal number of trips I tookTotal number of trips I took9'

In [27]:
# Create and print a variable to tell us whether the statement-
# -"I have taken more trips within India than outside India" is true or false using boolean variables.
boolean = trips_taken_outside_India > trips_taken_in_india
boolean

False

In [72]:
# Create and print a variable to calculate the average number of trips you've taken in a year using-
# your total number of trips and your age.
average_trips = str((age  +  trips_taken_outside_India  +  trips_taken_in_india ) / 3)
average_trips

TypeError: can only concatenate str (not "int") to str

In [35]:
# Create and print a variable to tell us average number of trips you've taken, using the numeric value in a sentence.

In [66]:
average_trips = str ("the average number of trips I took" + str ((trips_taken_outside_India + trips_taken_in_india )/2
print (average_trips)

SyntaxError: invalid syntax (<ipython-input-66-042d1384b162>, line 2)